*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(160, 160, 247);
    
}
.card-cont{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(250px,1fr));
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    max-width: 1200px;
    gap: 50px;
     /* flex-wrap: wrap; */
    margin: auto;
 
}
/* .card-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
} */
.card{
    width: 325px;
    background-color: rgb(106, 208, 242);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    /* margin: 20px; */
}
.card img{
    width: 100%;
    height: 200px;
    cursor: pointer;
  
}
/* img:hover{
    cursor: pointer;
    transform: scale(1,2s);
} */
.card-content{
    padding: 10px;
}.card-content h3{
    font-size: 20px;
    margin-bottom: 8px;

}.card-content p{
    color: #e7dfdf;
    font-size: 20px;
    line-height: 1.3;

}
.card-content .btn{
    display: inline-block;
    padding: 8px 10px;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 9px;
    color: aliceblue;

}